.middle
  .professional-title
    Profesionales
  .professional-text
    = @page.text
  .professionals
    - @professionals.each do |professional|
      .one-professional
        .left
          = image_tag professional.photo.url(:small)
        .right
          .content
            .name
              = professional.title
            .text
              = professional.text