// Active Admin CSS Styles
@import "active_admin/mixins";
@import "active_admin/base";

// To customize the Active Admin interfaces, add your
// styles here:

.home_photo_img{width: 100px;}
span#cke_home_photo_text{margin-left: 20%;}
span#cke_professional_text{margin-left: 20%;}
span#cke_page_text{margin-left: 20%;}
span#cke_page_module_text{margin-left: 20%;}