@mixin white-degrade {
  background-image: -moz-linear-gradient(top, #ffffff, #f4f4f4);
  background-image: -ms-linear-gradient(top, #ffffff, #f4f4f4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f4f4f4));
  background-image: -webkit-linear-gradient(top, #ffffff, #f4f4f4);
  background-image: -o-linear-gradient(top, #ffffff, #f4f4f4);
  background-image: linear-gradient(top, #ffffff, #f4f4f4);
}
@mixin slogan-font{
  font: normal normal normal 42px/1.3em Overlock, sans-serif;
}
@mixin fon-title { color: #007B9A; font: 22px/1.3em "Overlock","sans-serif";}
@mixin fon-text {color: #606060; font: 13px/1.3em "Open Sans","sans-serif";}
@mixin page-title {color: #888888; font: 22px/1.3em "Overlock","sans-serif";}

body{
  background: #00b8e7;
  .main-container{
    margin: auto;
    width:980px;
    .header{
      height: 206px;
      .slogan{
        color: white;
        width: 30%;
        float: left;
        padding: 45px;
        span{
          @include slogan-font;
        }
      }
      .call-number{
        color: white;
        width: 55%;
        float: right;
        padding-top: 66px;
        font-size: 20pt;
        span{
          @include slogan-font;
        }
      }
      .top{
        height: 150px;
      }
      .menu{
        height:50px;
        background-color: #f4f4f4;
        border-radius: 10px 10px 0px 0px;
        .button{
          @include white-degrade;
          height: 50px;
          float:left;
          width: 243px;
          text-align: center;
          border-right: 2px solid #f4f4f4;
          text-decoration: none !important;
          font: 16px/1.2em "Overlock","sans-serif";
          
          a{
            display:block;
            text-decoration:none;
            width:243;
            height:50px;
            font: normal normal normal 14px/1.1em 'Open Sans', sans-serif;
            &:hover { background-color: #f4f4f4;}
            span{
              display:block;
              padding-top:15px;
            }
            &.selected { background-color: #f4f4f4; }
          }
        }
        .button.first{
          border-radius: 10px 0px 0px 0px;
          a{
            border-radius: 10px 0px 0px 0px;
          }
        }
        .button.last{
          border-right: 0;
          border-radius: 0px 10px 0px 0px;
          a{
            border-radius: 0px 10px 0px 0px;
          }
        }
      }
    }
    .middle{
      margin-bottom: 20px;
      background: #F4F4F4;
    }
  }
  .footer{
    border:1px solid black;
    width: 100%;
    height: 314px;
    margin-bottom: 50px;
    background: white;
    .content{
      margin-left: 23%; margin-right: 23%;
      .title{@include fon-title;}
      .text{width: 22%;}
    }
  }
  .home_photo {
    padding: 1%;
  }

  .page_modules{
    margin-bottom: 24px;
    .module{
      float: left;
      margin-right: 22px;
      padding: 2%;
      width: 27%;
      .title{@include fon-title; margin-bottom: 2%;}
      .text{@include fon-text;} 
      box-shadow: 10px 10px 5px #888;
      @include white-degrade;
    }
  }
  .clear{clear: both;}
}