

@import "layout";
.middle{

.professional-title{
  @include page-title;
  margin: 0 auto auto;
  padding-top: 3%;
  width: 92%;
}

.professional-text{
  @include fon-text;
  margin: auto;
  padding-top: 2%;
  width: 92%;
}

.professionals{
  padding-bottom: 3%;
  padding-top: 3%;
  
  .one-professional{
    box-shadow: 10px 10px 5px #888; @include white-degrade; border: 1px solid; height: 210px; margin: auto auto 2%; padding: 1%; width: 90%;
    .left{
      height: 100%;
      width: 40%;
      
      img{height: 210px; width: 320px;}
    }
    
    .right{
      height: 100%; 
      width: 60%;
      .content{
        height: 65%; padding: 7%;
          
        .name{@include fon-title; margin-bottom: 2%;}
          
        .text{@include fon-text;}
      }
    }
  }
}

  .contact-title{
    @include page-title;
    margin: 0 auto auto;
    padding-top: 3%;
    width: 92%;
  }
  
  .contact{
    height: 500px; 
    padding: 3%;
    .left{
      @include fon-text;
    }
    .right{
      width: 70%;
      form{
        .fields{
          .field{
            margin-top: 5px;
            &.submit{
             float:right;
              margin-right: 100px;
            }
          }
        }
        width: 80%;
        float: right;
        textarea{
          height: 200px;
        }
      }
    }
  }
}